In [1]:
from IPython.display import HTML, display
display(HTML("<style>.container { width:90% !important; }</style>"))

In [1]:
# if you don't have pandas installed, run 'pip install pandas' in terminal
import pandas as pd

## Read csv file

[Data Source](https://insights.stackoverflow.com/survey)

[Return to Contents](#Contents)

In [2]:
df = pd.read_csv('survey_results_public.csv')

In [4]:
df #display everything

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
10,11,I code primarily as a hobby,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN,Antigua and Barbuda,"Yes, full-time",Primary/elementary school,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,22.0,Man,Yes,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,No,Appropriate in length,Easy
11,12,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
13,14,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
15,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
16,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
17,18,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
18,19,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy
19,20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
20,21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult

In [5]:
df.iloc[[-3,-2,-1],:]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult

In [9]:
df.iloc[-3:,:]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult

In [49]:
## Method 1 to set index
# df = pd.read_csv('survey_results_public.csv', index_col='Respondent')

## Method 2
df = pd.read_csv('survey_results_public.csv')
df.set_index('Respondent')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
11,I code primarily as a hobby,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN,Antigua and Barbuda,"Yes, full-time",Primary/elementary school,NaN,Contributed to open source software,...,Not applicable - I did not use Stack Overflow ...,NaN,22.0,Man,Yes,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,No,Appropriate in length,Easy
12,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
14,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",Completed an industry certification program (e...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
18,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
19,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy
20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,"Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult

In [51]:
df.head()  #display the first five rows, () is needed since this is a method not attribute

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

`df.head()` works similarly as `df.tail()`

In [57]:
df.iloc[1,2]

'No'

In [58]:
df.iloc[:,[2,1,3,4]]

,Hobbyist,MainBranch,OpenSourcer,OpenSource
0,Yes,I am a student who is learning to code,Never,The quality of OSS and closed source software ...
1,No,I am a student who is learning to code,Less than once per year,The quality of OSS and closed source software ...
2,Yes,"I am not primarily a developer, but I write co...",Never,The quality of OSS and closed source software ...
3,No,I am a developer by profession,Never,The quality of OSS and closed source software ...
4,Yes,I am a developer by profession,Once a month or more often,"OSS is, on average, of HIGHER quality than pro..."
5,Yes,"I am not primarily a developer, but I write co...",Never,The quality of OSS and closed source software ...
6,No,I am a developer by profession,Never,The quality of OSS and closed source software ...
7,Yes,I code primarily as a hobby,Less than once per year,"OSS is, on average, of HIGHER quality than pro..."
8,Yes,I am a developer by profession,Once a month or more often,The quality of OSS and closed source software ...
9,Yes,I am a developer by profession,Once a month or more often,"OSS is, on average, of HIGHER quality than pro..."
10,Yes,I code primarily as a hobby,Once a month or more often,The quality of OSS and closed source software ...
11,No,I am a student who is learning to code,Never,"OSS is, on average, of HIGHER quality than pro..."
12,Yes,I am a developer by profession,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro..."
13,Yes,I am a developer by profession,Less than once per year,The quality of OSS and closed source software ...
14,Yes,I am a student who is learning to code,Never,"OSS is, on average, of HIGHER quality than pro..."
15,Yes,I am a developer by profession,Never,The quality of OSS and closed source software ...
16,Yes,I am a developer by profession,Less than once a month but more than once per ...,The quality of OSS and closed source software ...
17,Yes,"I am not primarily a developer, but I write co...",Less than once a month but more than once per ...,The quality of OSS and closed source software ...
18,Yes,I am a developer by profession,Never,The quality of OSS and closed source software ...
19,No,"I am not primarily a developer, but I write co...",Never,"OSS is, on average, of HIGHER quality than pro..."
20,Yes,I code primarily as a hobby,Once a month or more often,"OSS is, on average, of HIGHER quality than pro..."
21,Yes,I am a developer by profession,Less than once per year,"OSS is, on average, of HIGHER quality than pro..."
22,Yes,I am a developer by profession,Less than once per year,The quality of OSS and closed source software ...
23,Yes,I am a developer by profession,Never,"OSS is, on average, of HIGHER quality than pro..."
24,No,I am a developer by profession,Never,"OSS is, on average, of HIGHER quality than pro..."

In [50]:
df.iloc[1:5]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [7]:
df.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
20,21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult

## Basic command

In [8]:
df['Hobbyist']

0     Yes
1      No
2     Yes
3      No
4     Yes
5     Yes
6      No
7     Yes
8     Yes
9     Yes
10    Yes
11     No
12    Yes
13    Yes
14    Yes
15    Yes
16    Yes
17    Yes
18    Yes
19     No
20    Yes
21    Yes
22    Yes
23    Yes
24     No
Name: Hobbyist, dtype: object

In [9]:
df.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult

In [10]:
df.info

<bound method DataFrame.info of     Respondent                                         MainBranch Hobbyist  \
0            1             I am a student who is learning to code      Yes
1            2             I am a student who is learning to code       No
2            3  I am not primarily a developer, but I write co...      Yes
3            4                     I am a developer by profession       No
4            5                     I am a developer by profession      Yes
5            6  I am not primarily a developer, but I write co...      Yes
6            7                     I am a developer by profession       No
7            8                        I code primarily as a hobby      Yes
8            9                     I am a developer by profession      Yes
9           10                     I am a developer by profession      Yes
10          11                        I code primarily as a hobby      Yes
11          12             I am a student who is learning to code       No
12          13                     I am a developer by profession      Yes
13          14                     I am a developer by profession      Yes
14          15             I am a student who is learning to code      Yes
15          16                     I am a developer by profession      Yes
16          17                     I am a developer by profession      Yes
17          18  I am not primarily a developer, but I write co...      Yes
18          19                     I am a developer by profession      Yes
19          20  I am not primarily a developer, but I write co...       No
20          21                        I code primarily as a hobby      Yes
21          22                     I am a developer by profession      Yes
22          23                     I am a developer by profession      Yes
23          24                     I am a developer by profession      Yes
24          25                     I am a developer by profession       No

                                          OpenSourcer  \
0                                               Never
1                             Less than once per year
2                                               Never
3                                               Never
4                          Once a month or more often
5                                               Never
6                                               Never
7                             Less than once per year
8                          Once a month or more often
9                          Once a month or more often
10                         Once a month or more often
11                                              Never
12  Less than once a month but more than once per ...
13                            Less than once per year
14                                              Never
15                                              Never
16  Less than once a month but more than once per ...
17  Less than once a month but more than once per ...
18                                              Never
19                                              Never
20                         Once a month or more often
21                            Less than once per year
22                            Less than once per year
23                                              Never
24                                              Never

                                           OpenSource  \
0   The quality of OSS and closed source software ...
1   The quality of OSS and closed source software ...
2   The quality of OSS and closed source software ...
3   The quality of OSS and closed source software ...
4   OSS is, on average, of HIGHER quality than pro...
5   The quality of OSS and closed source software ...
6   The quality of OSS and closed source software ...
7   OSS is, on average, of HIGHER quality than pro...
8   The quality of OSS and closed source software ...
9   OSS is, on average, of HIGHER quality than pro...
10  The quality of OSS and closed source software ...
11  OSS is, on average, of HIGHER quality than pro...
12  OSS is, on average, of HIGHER quality than pro...
13  The quality of OSS and closed source software ...
14  OSS is, on average, of HIGHER quality than pro...
15  The quality of OSS and closed source software ...
16  The quality of OSS and closed source software ...
17  The quality of OSS and closed source software ...
18  The quality of OSS and closed source software ...
19  OSS is, on average, of HIGHER quality than pro...
20  OSS is, on average, of HIGHER quality than pro...
21  OSS is, on average, of HIGHER quality than pro...
22  The quality of OSS and closed source software ...
23  OSS is, on average, of HIGHER quality than pro...
24  OSS is, on average, of HIGHER quality than pro...

                                           Employment                 Country  \
0              Not employed, and not looking for work          United Kingdom
1                  Not employed, but looking for work  Bosnia and Herzegovina
2                                  Employed full-time                Thailand
3                                  Employed full-time           United States
4                                  Employed full-time                 Ukraine
5                                  Employed full-time                  Canada
6   Independent contractor, freelancer, or self-em...                 Ukraine
7                  Not employed, but looking for work                   India
8                                  Employed full-time             New Zealand
9                                  Employed full-time                   India
10                                                NaN     Antigua and Barbuda
11                                 Employed part-time                  Canada
12                                 Employed full-time           United States
13                                 Employed full-time                 Germany
14                 Not employed, but looking for work                   India
15                                 Employed full-time          United Kingdom
16                                 Employed full-time               Australia
17                                 Employed full-time      Russian Federation
18                                 Employed full-time                  Brazil
19                                 Employed full-time               Lithuania
20                                                NaN                  Canada
21                                 Employed full-time           United States
22                                 Employed full-time           United States
23                                 Employed full-time                  Israel
24                                 Employed full-time            South Africa

           Student                                            EdLevel  \
0               No                          Primary/elementary school
1   Yes, full-time  Secondary school (e.g. American high school, G...
2               No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
3               No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
4               No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
5               No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
6               No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
7              NaN         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
8               No  Some college/university study without earning ...
9               No      Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)
10  Yes, full-time                          Primary/elementary school
11  Yes, full-time  Some college/university study without earning ...
12              No      Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)
13              No          Other doctoral degree (Ph.D, Ed.D., etc.)
14  Yes, full-time  Secondary school (e.g. American high school, G...
15              No      Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)
16              No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
17              No      Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)
18              No  Some college/university study without earning ...
19              No      Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)
20             NaN                                                NaN
21              No  Some college/university study without earning ...
22              No         Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)
23              No                          Primary/elementary school
24              No                                   Associate degree

                                       UndergradMajor  ...  \
0                                                 NaN  ...
1                                                 NaN  ...
2                       Web development or web design  ...
3   Computer science, computer engineering, or sof...  ...
4   Computer science, computer engineering, or sof...  ...
5                           Mathematics or statistics  ...
6   Another engineering discipline (ex. civil, ele...  ...
7   Computer science, computer engineering, or sof...  ...
8   Computer science, computer engineering, or sof...  ...
9                                                 NaN  ...
10                                                NaN  ...
11                          Mathematics or statistics  ...
12  Computer science, computer engineering, or sof...  ...
13  Computer science, computer engineering, or sof...  ...
14                                                NaN  ...
15                                                NaN  ...
16  Computer science, computer engineering, or sof...  ...
17  Computer science, computer engineering, or sof...  ...
18  Computer science, computer engineering, or sof...  ...
19  Information systems, information technology, o...  ...
20                                                NaN  ...
21                                                NaN  ...
22  Information systems, information technology, o...  ...
23                                                NaN  ...
24  Computer science, computer engineering, or sof...  ...

                                        WelcomeChange  \
0             Just as welcome now as I felt last year
1             Just as welcome now as I felt last year
2             Just as welcome now as I felt last year
3             Just as welcome now as I felt last year
4             Just as welcome now as I felt last year
5             Just as welcome now as I felt last year
6               A lot more welcome now than last year
7               A lot more welcome now than last year
8             Just as welcome now as I felt last year
9            Somewhat less welcome now than last year
10  Not applicable - I did not use Stack Overflow ...
11            Just as welcome now as I felt last year
12           Somewhat more welcome now than last year
13            Just as welcome now as I felt last year
14            Just as welcome now as I felt last year
15            Just as welcome now as I felt last year
16            Just as welcome now as I felt last year
17            Just as welcome now as I felt last year
18            Just as welcome now as I felt last year
19  Not applicable - I did not use Stack Overflow ...
20  Not applicable - I did not use Stack Overflow ...
21            Just as welcome now as I felt last year
22            Just as welcome now as I felt last year
23            Just as welcome now as I felt last year
24            Just as welcome now as I felt last year

                                         SONewContent   Age  Gender  Trans  \
0   Tech articles written by other developers;Indu...  14.0     Man     No
1   Tech articles written by other developers;Indu...  19.0     Man     No
2   Tech meetups or events in your area;Courses on...  28.0     Man     No
3   Tech articles written by other developers;Indu...  22.0     Man     No
4   Tech meetups or events in your area;Courses on...  30.0     Man     No
5   Tech articles written by other developers;Indu...  28.0     Man     No
6                                                 NaN  42.0     Man     No
7   Tech articles written by other developers;Indu...  24.0     Man     No
8                                                 NaN  23.0     Man     No
9   Tech articles written by other developers;Tech...   NaN     NaN    NaN
10                                                NaN  22.0     Man    Yes
11       Courses on technologies you're interested in  21.0   Woman     No
12  Tech articles written by other developers;Cour...  28.0     Man     No
13  Tech articles written by other developers;Cour...  31.0     Man     No
14  Tech articles written by other developers;Indu...  20.0     Man     No
15  Tech articles written by other developers;Indu...  26.0     Man     No
16  Tech articles written by other developers;Indu...  29.0     Man     No
17                                                NaN   NaN     Man     No
18  Tech articles written by other developers;Indu...  31.0     Man     No
19          Tech articles written by other developers  38.0     Man     No
20                                                NaN   NaN     Man     No
21  Tech articles written by other developers;Indu...  47.0     Man     No
22  Tech articles written by other developers;Tech...  22.0     Man     No
23  Tech articles written by other developers;Indu...  23.0     Man     No
24                Tech meetups or events in your area  22.0     Man     No

                                          Sexuality  \
0                           Straight / Heterosexual
1                           Straight / Heterosexual
2                           Straight / Heterosexual
3                           Straight / Heterosexual
4                           Straight / Heterosexual
5                           Straight / Heterosexual
6                           Straight / Heterosexual
7                           Straight / Heterosexual
8                                          Bisexual
9                                               NaN
10  Bisexual;Gay or Lesbian;Straight / Heterosexual
11                          Straight / Heterosexual
12                          Straight / Heterosexual
13                          Straight / Heterosexual
14                                              NaN
15                          Straight / Heterosexual
16                          Straight / Heterosexual
17                          Straight / Heterosexual
18                          Straight / Heterosexual
19                          Straight / Heterosexual
20                                              NaN
21                          Straight / Heterosexual
22                          Straight / Heterosexual
23                          Straight / Heterosexual
24                          Straight / Heterosexual

                                            Ethnicity Dependents  \
0                                                 NaN         No
1                                                 NaN         No
2                                                 NaN        Yes
3                        White or of European descent         No
4            White or of European descent;Multiracial         No
5                                          East Asian         No
6                        White or of European descent        Yes
7                                                 NaN        NaN
8                        White or of European descent         No
9                                                 NaN        Yes
10  Black or of African descent;East Asian;Hispani...         No
11                        Black or of African descent         No
12                       White or of European descent        Yes
13                       White or of European descent         No
14                                                NaN        Yes
15                       White or of European descent         No
16              Hispanic or Latino/Latina;Multiracial         No
17                       White or of European descent        Yes
18                          Hispanic or Latino/Latina        Yes
19                       White or of European descent        Yes
20                                                NaN         No
21                       White or of European descent        Yes
22                        Black or of African descent         No
23                                     Middle Eastern         No
24                       White or of European descent         No

             SurveyLength                  SurveyEase
0   Appropriate in length  Neither easy nor difficult
1   Appropriate in length  Neither easy nor difficult
2   Appropriate in length  Neither easy nor difficult
3   Appropriate in length                        Easy
4   Appropriate in length                        Easy
5                Too long  Neither easy nor difficult
6   Appropriate in length  Neither easy nor difficult
7   Appropriate in length  Neither easy nor difficult
8   Appropriate in length  Neither easy nor difficult
9                Too long                   Difficult
10  Appropriate in length                        Easy
11  Appropriate in length                        Easy
12  Appropriate in length                        Easy
13              Too short                        Easy
14               Too long  Neither easy nor difficult
15  Appropriate in length  Neither easy nor difficult
16  Appropriate in length                        Easy
17  Appropriate in length  Neither easy nor difficult
18               Too long                        Easy
19  Appropriate in length                        Easy
20  Appropriate in length                        Easy
21  Appropriate in length                        Easy
22  Appropriate in length                        Easy
23  Appropriate in length                        Easy
24              Too short  Neither easy nor difficult

[25 rows x 85 columns]>

In [11]:
df2 = pd.read_table('exam0203.txt',delim_whitespace=True)
df2.head()

    Name Sex  Age  Height  Weight
0  Alice   F   13    56.5    84.0
1  Becka   F   13    65.3    98.0
2   Gail   F   14    64.3    90.0
3  Karen   F   12    56.3    77.0
4  Kathy   F   12    59.8    84.5

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
Name      19 non-null object
Sex       19 non-null object
Age       19 non-null int64
Height    19 non-null float64
Weight    19 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 888.0+ bytes

In [13]:
df.describe()

,Respondent,YearsCode,Age1stCode,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,25.000000,24.000000,25.000000,16.000000,16.000000,18.000000,10.000000,22.000000
mean,13.000000,8.791667,15.480000,109040.625000,94466.812500,47.333333,4.850000,26.818182
std,7.359801,7.342427,3.330666,228647.727023,128254.298952,28.371485,3.350373,7.725261
min,1.000000,2.000000,10.000000,3000.000000,6300.000000,8.000000,0.500000,14.000000
25%,7.000000,3.000000,13.000000,9125.000000,25290.000000,40.000000,3.250000,22.000000
50%,13.000000,7.000000,16.000000,50500.000000,59030.000000,40.000000,4.500000,25.000000
75%,19.000000,12.250000,17.000000,93250.000000,91294.750000,48.750000,5.750000,29.750000
max,25.000000,35.000000,22.000000,950000.000000,455352.000000,140.000000,12.000000,47.000000

In [14]:
df.shape

(25, 85)

In [15]:
df.count()

Respondent      25
MainBranch      25
Hobbyist        25
OpenSourcer     25
OpenSource      25
                ..
Sexuality       22
Ethnicity       18
Dependents      24
SurveyLength    25
SurveyEase      25
Length: 85, dtype: int64

In [16]:
df.index

RangeIndex(start=0, stop=25, step=1)

In [17]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [18]:
df2.tail(2)

       Name Sex  Age  Height  Weight
17   Thomas   M   11    57.5    85.0
18  William   M   15    66.5   112.0

## Add and remove column

In [62]:
df2 = pd.read_table('exam0203.txt',delim_whitespace=True)
df2

       Name Sex  Age  Height  Weight
0     Alice   F   13    56.5    84.0
1     Becka   F   13    65.3    98.0
2      Gail   F   14    64.3    90.0
3     Karen   F   12    56.3    77.0
4     Kathy   F   12    59.8    84.5
5      Mary   F   15    66.5   112.0
6     Sandy   F   11    51.3    50.5
7    Sharon   F   15    62.5   112.5
8     Tammy   F   14    62.8   102.5
9    Alfred   M   14    69.0   112.5
10     Duke   M   14    63.5   102.5
11    Guido   M   15    67.0   133.0
12    James   M   12    57.3    83.0
13  Jeffrey   M   13    62.5    84.0
14     John   M   12    59.0    99.5
15   Philip   M   16    72.0   150.0
16   Robert   M   12    64.8   128.0
17   Thomas   M   11    57.5    85.0
18  William   M   15    66.5   112.0

In [63]:
last_name = ['Smith', 'Green', 'Lee', 'King', 'Zhang', 'Lin', 'Smith', 'Hall', \
             'Cole', 'Wood', 'Tiger', 'Brown', 'Hill', 'Brook', 'Gates', 'Golden',\
             'Jones', 'Wood', 'Hall']
df2['Last'] = last_name
df2.tail()

       Name Sex  Age  Height  Weight    Last
14     John   M   12    59.0    99.5   Gates
15   Philip   M   16    72.0   150.0  Golden
16   Robert   M   12    64.8   128.0   Jones
17   Thomas   M   11    57.5    85.0    Wood
18  William   M   15    66.5   112.0    Hall

In [21]:
df2['Full_Name'] = df2['Name'] + ' ' + df2['Last']
df2.tail()

       Name Sex  Age  Height  Weight    Last      Full_Name
14     John   M   12    59.0    99.5   Gates     John Gates
15   Philip   M   16    72.0   150.0  Golden  Philip Golden
16   Robert   M   12    64.8   128.0   Jones   Robert Jones
17   Thomas   M   11    57.5    85.0    Wood    Thomas Wood
18  William   M   15    66.5   112.0    Hall   William Hall

In [22]:
df2 = df2.drop(columns = ['Name', 'Last'])

In [23]:
df2.tail() #method

   Sex  Age  Height  Weight      Full_Name
14   M   12    59.0    99.5     John Gates
15   M   16    72.0   150.0  Philip Golden
16   M   12    64.8   128.0   Robert Jones
17   M   11    57.5    85.0    Thomas Wood
18   M   15    66.5   112.0   William Hall

In [64]:
df2.drop(["Sex","Age"], axis=1,inplace=True)   #axis=1 is necessary

       Name  Height  Weight    Last
0     Alice    56.5    84.0   Smith
1     Becka    65.3    98.0   Green
2      Gail    64.3    90.0     Lee
3     Karen    56.3    77.0    King
4     Kathy    59.8    84.5   Zhang
5      Mary    66.5   112.0     Lin
6     Sandy    51.3    50.5   Smith
7    Sharon    62.5   112.5    Hall
8     Tammy    62.8   102.5    Cole
9    Alfred    69.0   112.5    Wood
10     Duke    63.5   102.5   Tiger
11    Guido    67.0   133.0   Brown
12    James    57.3    83.0    Hill
13  Jeffrey    62.5    84.0   Brook
14     John    59.0    99.5   Gates
15   Philip    72.0   150.0  Golden
16   Robert    64.8   128.0   Jones
17   Thomas    57.5    85.0    Wood
18  William    66.5   112.0    Hall

In [65]:
df2.tail()

       Name Sex  Age  Height  Weight    Last
14     John   M   12    59.0    99.5   Gates
15   Philip   M   16    72.0   150.0  Golden
16   Robert   M   12    64.8   128.0   Jones
17   Thomas   M   11    57.5    85.0    Wood
18  William   M   15    66.5   112.0    Hall

## Add and remove rows

In [79]:
df2 = pd.read_table('exam0203.txt',delim_whitespace=True)

In [67]:
df2.tail()

       Name Sex  Age  Height  Weight
14     John   M   12    59.0    99.5
15   Philip   M   16    72.0   150.0
16   Robert   M   12    64.8   128.0
17   Thomas   M   11    57.5    85.0
18  William   M   15    66.5   112.0

In [80]:
new_row = {"Name":"Karen", "Sex":"F", "Age":13, "Height":78.0, "Weight":90.0}
df2 = df2.append(new_row, ignore_index=True)

In [29]:
df2.tail()

    Height  Weight      Full_Name   Age   Name  Sex
15    72.0   150.0  Philip Golden   NaN    NaN  NaN
16    64.8   128.0   Robert Jones   NaN    NaN  NaN
17    57.5    85.0    Thomas Wood   NaN    NaN  NaN
18    66.5   112.0   William Hall   NaN    NaN  NaN
19    78.0    90.0            NaN  13.0  Karen    F

In [70]:
df2.append({'Name':'Tony'})

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [83]:
df2 = df2.append({'Name':'Tony'}, ignore_index=True)

In [84]:
df2.tail()

       Name  Sex   Age  Height  Weight
16   Robert    M  12.0    64.8   128.0
17   Thomas    M  11.0    57.5    85.0
18  William    M  15.0    66.5   112.0
19    Karen    F  13.0    78.0    90.0
20     Tony  NaN   NaN     NaN     NaN

In [85]:
df3 = pd.DataFrame({'Name':['Erin','Jane','Steve'], 'Sex':['M','F','M'], \
                    'Age':[12,17,16], 'Height':[60,70,80],\
                    'Weight':[80, 90, 100]})
df3

    Name Sex  Age  Height  Weight
0   Erin   M   12      60      80
1   Jane   F   17      70      90
2  Steve   M   16      80     100

In [88]:
df2.append(df3)

       Name  Sex   Age  Height  Weight
0     Alice    F  13.0    56.5    84.0
1     Becka    F  13.0    65.3    98.0
2      Gail    F  14.0    64.3    90.0
3     Karen    F  12.0    56.3    77.0
4     Kathy    F  12.0    59.8    84.5
5      Mary    F  15.0    66.5   112.0
6     Sandy    F  11.0    51.3    50.5
7    Sharon    F  15.0    62.5   112.5
8     Tammy    F  14.0    62.8   102.5
9    Alfred    M  14.0    69.0   112.5
10     Duke    M  14.0    63.5   102.5
11    Guido    M  15.0    67.0   133.0
12    James    M  12.0    57.3    83.0
13  Jeffrey    M  13.0    62.5    84.0
14     John    M  12.0    59.0    99.5
15   Philip    M  16.0    72.0   150.0
16   Robert    M  12.0    64.8   128.0
17   Thomas    M  11.0    57.5    85.0
18  William    M  15.0    66.5   112.0
19    Karen    F  13.0    78.0    90.0
20     Tony  NaN   NaN     NaN     NaN
0      Erin    M  12.0    60.0    80.0
1      Jane    F  17.0    70.0    90.0
2     Steve    M  16.0    80.0   100.0

In [87]:
df2.tail()

       Name  Sex   Age  Height  Weight
16   Robert    M  12.0    64.8   128.0
17   Thomas    M  11.0    57.5    85.0
18  William    M  15.0    66.5   112.0
19    Karen    F  13.0    78.0    90.0
20     Tony  NaN   NaN     NaN     NaN

In [36]:
df2.tail()

    Height  Weight     Full_Name   Age   Name  Sex First
16    64.8   128.0  Robert Jones   NaN    NaN  NaN   NaN
17    57.5    85.0   Thomas Wood   NaN    NaN  NaN   NaN
18    66.5   112.0  William Hall   NaN    NaN  NaN   NaN
19    78.0    90.0           NaN  13.0  Karen    F   NaN
20     NaN     NaN           NaN   NaN    NaN  NaN  Tony

In [37]:
df2 = df2.append(df3, ignore_index=True)

In [89]:
df2.tail()

       Name  Sex   Age  Height  Weight
16   Robert    M  12.0    64.8   128.0
17   Thomas    M  11.0    57.5    85.0
18  William    M  15.0    66.5   112.0
19    Karen    F  13.0    78.0    90.0
20     Tony  NaN   NaN     NaN     NaN

In [90]:
df2 = df2.drop([18, 19])

In [94]:
df2.tail()

      Name  Sex   Age  Height  Weight
14    John    M  12.0    59.0    99.5
15  Philip    M  16.0    72.0   150.0
16  Robert    M  12.0    64.8   128.0
17  Thomas    M  11.0    57.5    85.0
20    Tony  NaN   NaN     NaN     NaN

In [102]:
df2.iloc[18,:]=['A','F',10,60,100]

In [104]:
df3 = df2.tail()

In [105]:
df3

      Name Sex Age Height Weight
14    John   M  12     59   99.5
15  Philip   M  16     72    150
16  Robert   M  12   64.8    128
17  Thomas   M  11   57.5     85
20       A   F  10     60    100

In [107]:
df3.index = ['1st','2nd','3rd','4th','5th']

In [108]:
df3

       Name Sex Age Height Weight
1st    John   M  12     59   99.5
2nd  Philip   M  16     72    150
3rd  Robert   M  12   64.8    128
4th  Thomas   M  11   57.5     85
5th       A   F  10     60    100

In [110]:
df3.iloc[1:3,:]

       Name Sex Age Height Weight
2nd  Philip   M  16     72    150
3rd  Robert   M  12   64.8    128

In [113]:
df3.drop(['2nd'])

       Name Sex Age Height Weight
1st    John   M  12     59   99.5
3rd  Robert   M  12   64.8    128
4th  Thomas   M  11   57.5     85
5th       A   F  10     60    100

In [ ]:
df2.iloc[18,:]=['A','F',10,60,100]

In [97]:
df2.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20], dtype='int64')

In [95]:
df2.drop([20])

       Name Sex   Age  Height  Weight
0     Alice   F  13.0    56.5    84.0
1     Becka   F  13.0    65.3    98.0
2      Gail   F  14.0    64.3    90.0
3     Karen   F  12.0    56.3    77.0
4     Kathy   F  12.0    59.8    84.5
5      Mary   F  15.0    66.5   112.0
6     Sandy   F  11.0    51.3    50.5
7    Sharon   F  15.0    62.5   112.5
8     Tammy   F  14.0    62.8   102.5
9    Alfred   M  14.0    69.0   112.5
10     Duke   M  14.0    63.5   102.5
11    Guido   M  15.0    67.0   133.0
12    James   M  12.0    57.3    83.0
13  Jeffrey   M  13.0    62.5    84.0
14     John   M  12.0    59.0    99.5
15   Philip   M  16.0    72.0   150.0
16   Robert   M  12.0    64.8   128.0
17   Thomas   M  11.0    57.5    85.0

## Concatenate two dataframe

In [116]:
left = pd.DataFrame({'C1': ['K0', 'K1', 'K2', 'K3'],
                     'C2': ['K0', 'K1', 'K0', 'K1'],
                      'C3': ['A0', 'A1', 'A2', 'A3'],
                      'C4': ['B0', 'B1', 'B2', 'B3']}) 

right = pd.DataFrame({'C1': ['K1', 'K2', 'K3', 'K4'],
                      'C2': ['K1', 'K1', 'K1', 'K1'],
                       'C3': ['C1', 'C2', 'C3', 'C4'],
                       'C4': ['D1', 'D2', 'D3', 'D4']})

In [114]:
left

  col1 col2 col3 col4
0   K0   K0   A0   B0
1   K1   K1   A1   B1
2   K2   K0   A2   B2
3   K3   K1   A3   B3

In [115]:
right

   C1  C2  C3  C4
0  K1  K1  C1  D1
1  K2  K1  C2  D2
2  K3  K1  C3  D3
3  K4  K1  C4  D4

In [118]:
result1 = pd.concat([left,right],axis=1)
result1

   C1  C2  C3  C4  C1  C2  C3  C4
0  K0  K0  A0  B0  K1  K1  C1  D1
1  K1  K1  A1  B1  K2  K1  C2  D2
2  K2  K0  A2  B2  K3  K1  C3  D3
3  K3  K1  A3  B3  K4  K1  C4  D4

In [117]:
## Not recommended
result2=pd.concat([left,right], axis=0)
result2

   C1  C2  C3  C4
0  K0  K0  A0  B0
1  K1  K1  A1  B1
2  K2  K0  A2  B2
3  K3  K1  A3  B3
0  K1  K1  C1  D1
1  K2  K1  C2  D2
2  K3  K1  C3  D3
3  K4  K1  C4  D4

### Get back to our file